@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

:root{
    --background-gray: #EFF1F7;
    --primary-cyan: hsl(180, 66%, 49%);
    --primary-dark-violet: hsl(257, 27%, 26%);
    --secondary-red: hsl(0, 87%, 67%);
    --neutral-gray:hsl(0, 0%, 75%);
    --neutral-grayish-violet:hsl(257, 7%, 63%);
    --neutral-dark-blue:hsl(255, 11%, 22%);
    --neutral-darkviolet:hsl(260, 8%, 14%);
    --neutral-light-cyan:hsl(180, 66%, 80%);
}

/* General Styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.btn{
    color: white;
    background-color: var(--primary-cyan);
    border: none;
    outline:none;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
}
.btn:hover{
    cursor: pointer;
    background-color: var(--neutral-light-cyan);
}
.error-button{
    outline:var(--secondary-red);
    color: var(--secondary-red);
}

.copied-btn{
    color: white;
    border: none;
    outline:none;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    background-color: var(--primary-dark-violet);
    border-radius: 10px;
}

/* Header Section*/

.header-section{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-top: 2em;
    padding-right: 4em;
    padding-left: 4em;
    font-size: 18px;
}
.header-section .nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header-section .nav-container .navigation ul{
    display: flex;
     margin-left: 2em;
}
.header-section .nav-container .navigation ul li{
    text-decoration: none;
    list-style: none;
    margin-right: 1em;
}
.header-section .nav-container .navigation ul li a{
    text-decoration: none;
    font-weight: bold;
    color:var(--neutral-gray);
}
.header-section .nav-container .navigation ul li a:hover{
    color:var(--neutral-dark-blue);
}
.header-section .button-section a{
    margin-right: 2em;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: var(--neutral-gray);
}
.header-section .button-section a:hover{
    
    color: var(--neutral-dark-blue);
}
.header-section .hamburger-menu{
    
    /* top: 1em;
    right: 1em; */
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    display: none;
    cursor: pointer;
    color: var(--neutral-gray);
    /* height: 5em;
    width: 5em; */
}

@media all and (max-width: 1024px){
    .header-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 2em;
    }
    .header-section .navigation{
        display: none;        
    }
    .header-section .button-section{
        display: none;
    }
    .header-section .hamburger-menu{
        display: block;
    }
}


/** Showcase Section**/
.showcase{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110vh;
    padding-left: 4em;
}
.showcase .showcase-text{
    text-align: left;
}
.showcase .showcase-text h1{
    font-size: 70px;
    font-weight: bold;
}
.showcase .showcase-text p{
    color: var(--neutral-gray);
    font-size: 20px;
    margin-bottom: 1em;
}
.showcase .showcase-image{
    text-align: right;    
}
.showcase .showcase-image img{
    width: 100%;
    height: 100%;
    transform: translateX(2em);
}
@media all and (max-width: 1024px){
    .showcase{
        height: 110vh;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 4em;
        padding: 2em;
    }
    .showcase .showcase-image {
        text-align: center;
        padding: 1em 2em;
    }
    .showcase .showcase-image img{
        width: 100%;
        height: 100%;
        transform: translateX(-2em);
    }
    .showcase .showcase-text{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
    }
    .showcase .showcase-text h1{
        font-size: 50px;
        font-weight: bold;
    }
    .showcase .showcase-text button{
        text-align: center;
        align-items: center;
        width: fit-content;
    }
}

/** Url Shortening Section **/

.url-section{
    background-color: var(--background-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.url-shortener{
    position: relative;
}
.url-section .url-shortener{
    width: 75%;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(/images/bg-shorten-desktop.svg);
    background-color: var(--primary-dark-violet);
    border-radius: 10px;
    transform: translateY(-4em);
    overflow-y: hidden;
    padding-left: 4em;
    padding-right: 4em;
}
.url-section .url-shortener #url-shortener-form{
    width: 80%;
    height: 3.5em;
    padding: 0.5em;
    padding-left: 2em;
    color: var(--neutral-gray);
    border-radius: 10px;
    outline:none;
    font-size: 18px;
}
.url-section .url-shortener #url-shortener-button{
    width: 20%;
    height: 3.5em;
    margin-left: 2em;
    border-radius: 10px;
}
.error-text{
    position: absolute;
    bottom: 0.5em;
    left: 4.5em;
    padding-top: 0.3em;
    color: var(--secondary-red);
}
.error-input{
    border: 3px solid var(--secondary-red);
    color: var(--secondary-red);
}
.error{
    display: none;
}


@media all and (max-width: 1024px){
    .url-section .url-shortener{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 90%;
        height: 12em;
        padding: 5em;
        background-image: url(/images/bg-shorten-mobile.svg) cover center center no-repeat;
    }
    .url-section .url-shortener #url-shortener-form{
        width: 100%;
        
    }
    .url-section .url-shortener #url-shortener-button{
        width: 100%;
        height: 4em;
        margin-left: 0em;
        border-radius: 10px;
        margin-top: 1em;
    }
    .error-text{
        width: 100%;
        position: relative;
        left: 0;
        text-align: left;
        padding-top: 1em;
        color: var(--secondary-red);
    }
    .error{
        display: none;
    }
    
}


/* Responses Section */
.response-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: var(--background-gray);
}
.responses{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 75%;
    height: 5em;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 2em;
    padding: 0em 2em;
    font-size: 18px;
}
.short-url{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.short-url p{
    color: var(--primary-cyan);
    margin-right: 2em;
}
.copy-btn{
    color: white;
    border: none;
    outline:none;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    background-color: var(--primary-cyan);
    border-radius: 10px;
}

.test{
    background-color: red;
    height: 4em;
    width: 75%;
    padding: 2em 0;
    margin-bottom: 2em;
}
@media all and (max-width: 1024px){
    .responses{
        flex-direction: column;
        width: 90%;
        height: auto;
    }
    .responses .url{
        border-bottom: 1px solid #000;
        width: 100%;
        padding: 1em 0;
        margin-bottom: 1em;
        text-align: left;
    }
    .responses .short-url{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        width: 100%;
    }
    .responses .short-url .shortened-urls{
        margin-bottom: 1em;
        text-align: left;
        width: 100%;
    }
    .copy-btn{
        width: 100%;
        margin-bottom: 1em;
    }
}

/** Advanced Statistics Section **/
.advanced-statistics{
    background-color: var(--background-gray);
    width: 100%;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 8em;
}
.advanced-statistics h1{
    font-size: 32px;
    padding: 1em;
}
.advanced-statistics p{
    font-size: 18px;
    padding: 1em;
    color: var(--neutral-gray);
    margin-bottom: 2em;
}
.advanced-statistics .cards{
    position: relative;
    display: flex;
    column-gap: 2em;
    justify-content: center;align-items: center;
    text-align: center;
}

.advanced-statistics .cards .card{
    background-color: white;
    border-radius: 10px;
    width: 20em;
    z-index: 1;   
}
.advanced-statistics .cards .card:nth-child(2){
    transform: translateY(3em);  
}
.advanced-statistics .cards .card:nth-child(3){
    transform: translateY(6em);  
}

.advanced-statistics .cards .card .image-container{
    position: absolute;
    background-color: var(--neutral-darkviolet);  
    border-radius: 50%;
    width: 5em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translate(2em, -2em);    
}
.advanced-statistics .cards .line{
    position: absolute;
    height: 7px;
    width: 70%;
    background-color: var(--primary-cyan);
    

}
@media all and (max-width: 1024px){
    .advanced-statistics .cards{
        flex-direction: column;
    }
    .advanced-statistics .cards .line{
        position: absolute;
        height: 70%;
        width: 7px;
        background-color: var(--primary-cyan);
        
    
    }
}

/** Boost your links Section**/
.boost{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 12em;
    background-image: url(/images/bg-boost-desktop.svg);
    color: white;
    background-color: var( --neutral-dark-blue);
    padding: 3em;
}
.boost h1{
    margin-bottom: 1em;
}
@media all and (max-width: 1024px){
    .boost{
        background-image: url(/images/bg-boost-mobile.svg);
    }
}

/** Footer **/

.footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: var(--neutral-darkviolet);
    padding: 3em;
}
.footer .logo svg{
    fill: #fff;
}

.footer .footer-column h3{
    color: #fff;  
    margin-bottom: 1em;
}
.footer .footer-column ul li{
    list-style: none;
    margin-bottom: 0.4em;
}
.footer .footer-column ul li a{
  color: var(--neutral-gray);  
  text-decoration: none;
}
.footer .footer-column ul li a:hover{
    color: var(--primary-cyan);
}
.socials{
    display: flex;
    row-gap: 1em;
}
.socials img{
    width: 2em;
    height: 2em;
    margin-right: 1em;
}

@media all and (max-width: 1024px){
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    .footer-column{
        margin-bottom: 1em;
    }
    .company{
        margin-bottom: 1em;
    }
}

